html {
    height: 100%;
}

body {
    background-color: rgba(214, 55, 76, 0.747);
    color: #fff;
    opacity: 0.7;
    font-family: cursive;
    height: 100%;
}

h1 {
    padding-top: 2%;
    text-align: center;
    font-size: 45px;
    color: rgb(255, 255, 255);
}

#app {
    text-align: center;
}

#new-todo{
    background-color: rgb(233, 101, 118);
    width: 420px;
    padding: .50rem 0;
    border: 1px solid #fff;
    border-radius: 18px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
    color: white;
}

.radio {
    font-size: 30px;
}

.button{
    cursor: pointer;
    width: 5.11rem;
    padding: .44rem 0;
    border-radius: 54px;
    background-color: rgb(233, 57, 80);
    text-align: center;
    font-size: .833rem;
    transition: background-color .25s;
    border: 0px;
    color: #fff;
    font-weight: 500;
    font-family: cursive;
    font-size: 15px;
}

.button:hover {
    background-color: rgb(182, 26, 59);
}

ul{ 
    display: inline-block;   
}

li.high {
    border: 1px solid #fff;
    background-color: rgb(233, 57, 80);
}
  
li.low {
    border: 1px solid #fff;
}

li {
    border-radius: 18px;
    width: 420px;
    margin-bottom: 10px;
    font-size: 20px;
    list-style-type: none;
}
  